$color1: #f7be2b;
$color2: #29293e;
$color3: #ccced2;
$color4: #09937e;
$color5: #d49c1f;
$color6: #191b1f;
$color7: rgba(255, 184, 0, 0.24);
$color8: rgba(255, 255, 255, 0.14);
$color9: #393b3e;
$color10: rgba(255, 255, 255, 0.25);
$color11: #222325;
