@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors";
@import "./utilities";

#comming-soon {
  text-align: center;

  .hero-img {
    width: 100%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    margin-top: 80px;
    max-width: 722px;
    margin-left: auto;
    margin-right: auto;
  }
}

#about-us {
  .pillars-main {
    margin-top: 60px;

    .item {
      margin: 32px 0;
      max-width: 500px;
      margin-left: auto;

      .num {
        font-size: 50px;
        width: 60px;
        flex-shrink: 0;
        margin-right: 24px;
      }
    }
  }
}

#legal {
  .head {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;

    .tabs-container {
      margin: 40px auto 48px;
      max-width: 450px;
    }
  }

  .main {
    margin-top: 48px;
    padding-bottom: 68px;

    .item {
      margin: 32px 0;
      padding: 1.625rem 4rem;
      background-color: $color8;
      border-radius: 8px;
      border: 1px solid $color3;

      &.active {
        border-color: $color1;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }

      .item-head {
        position: relative;

        * {
          color: #fff;
        }

        &::before {
          content: url("/open-arrow-down.svg");
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      &.active {
        .item-head {
          &::before {
            transform: translateY(-50%) rotateX(180deg);
          }
        }
      }

      .item-body {
        .updated {
          padding-top: 10px;
          font-size: 12px;
          font-weight: 300;
          color: #fff;
        }

        .item-section {
          margin-top: 24px;

          .item-section-title {
            position: relative;
            color: $color1;

            &::after {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              content: url("/open-plus.svg");
            }
          }

          .item-section-body {
            margin-top: 8px;

            ul {
              padding-left: 20px;

              li {
                list-style-type: disc;
              }
            }
          }

          &.active {
            .item-section-title {
              &::after {
                content: url("/open-minus.svg");
              }
            }
          }
        }
      }
    }
  }
}

#products {
  .hero {
    display: flex;
    background-color: $color8;
    border-radius: 16px;
    border: 0.5px solid $color8;

    .text {
      margin: 60px;
      width: 555px;
      flex-shrink: 0;
    }

    .img {
      flex-grow: 1;
      flex-shrink: 1;
      background-image: url(/products-hero-vector.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 90%;

      img {
        width: 100%;
      }
    }
  }

  .partners {
    margin-top: 60px;

    .row > * {
      display: flex;
      align-items: center;
    }
  }

  .head {
    max-width: 458px;
    margin-left: auto;
    margin-right: auto;

    .tabs-container {
      max-width: 326px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
  }

  .main {
    .product {
      margin-top: 65px;

      .product-img {
        width: 100%;

        .placeholder {
          max-width: 390px;
        }
      }

      .product-text {
        ul {
          margin: 30px 0 100px;

          li {
            display: flex;
            align-items: flex-start;
          }
        }

        .btn {
          margin-top: 30px;
        }

        &:nth-child(even) {
          .row {
            flex-direction: row-reverse;

            .col-7 {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
