@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./colors";
@import "./utilities";

#comming-soon {
  text-align: center;

  .hero-img {
    width: 100%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    margin-top: 80px;
    max-width: 722px;
    margin-left: auto;
    margin-right: auto;
  }
}

#about-us {
  .pillars-main {
    margin-top: 60px;

    .item {
      margin: 32px 0;
      max-width: 500px;
      margin-left: auto;

      @media screen and (max-width: 767px) {
        margin-right: auto;
      }

      .num {
        font-size: 50px;
        width: 60px;
        flex-shrink: 0;
        margin-right: 24px;
      }
    }
  }
}

#legal {
  .head {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;

    .tabs-container {
      margin: 40px auto 48px;
      max-width: 450px;
    }
  }

  .main {
    margin-top: 48px;
    padding-bottom: 16px;

    .accordion-item {
      .accordion-item-body {
        .updated {
          font-size: 12px;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
}

#products {
  .hero {
    display: flex;
    background-color: $color8;
    border-radius: 16px;
    border: 0.5px solid $color8;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    .text,
    .img {
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }
    }

    .text {
      margin: 60px;
      width: 555px;
      flex-shrink: 0;

      @media screen and (max-width: 1150px) {
        width: 480px;
      }

      @media screen and (max-width: 991px) {
        width: 50%;
      }

      @media screen and (max-width: 767px) {
        margin: 0;
        padding: 30px;
      }

      @media screen and (max-width: 575px) {
        padding: 30px 16px;
      }

      .send-link {
        display: flex;
        margin-top: 40px;

        @media screen and (max-width: 575px) {
          flex-wrap: wrap;

          & > * {
            width: 100%;
          }
        }

        @media screen and (max-width: 980px) and (min-width: 768px) {
          flex-wrap: wrap;

          & > * {
            width: 100%;
          }
        }

        .inputs-container {
          position: relative;
          flex-grow: 1;
          border: 1px solid $color3;
          border-radius: 8px;
          display: flex;
          align-items: center;
          padding: 13px 24px;
          margin-right: 20px;

          @media screen and (max-width: 575px) {
            margin-right: 0;
          }

          @media screen and (max-width: 980px) and (min-width: 768px) {
            margin-right: 0;
          }

          select,
          input {
            background-color: transparent;
            border: none;
          }

          input {
            padding-left: 10px;
            border-left: 1px solid $color3;
          }
        }

        .btn {
          flex-shrink: 0;
          font-size: 14px;

          @media screen and (max-width: 980px) and (min-width: 768px) {
            margin-top: 16px;
            margin-bottom: 14px;
          }

          @media screen and (max-width: 575px) {
            height: 40px;
            margin-top: 16px;
            margin-bottom: 14px;
          }
        }
      }
    }

    .img {
      flex-grow: 1;
      flex-shrink: 1;
      background-image: url(/products-hero-vector.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 90%;
      background-position-y: 100%;

      @media screen and (max-width: 767px) {
        padding-top: 95%;
        background-position-x: 120%;
      }

      @media screen and (max-width: 575px) {
        padding-top: 100%;
        background-position-x: 210%;
      }

      img {
        width: 100%;
      }
    }
  }

  .partners,
  .investors {
    margin-top: 60px;

    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }

    .row > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      @media screen and (max-width: 767px) {
        width: 100px;
      }
    }
  }

  .head-container {
    margin-top: 80px;

    @media screen and (max-width: 575px) {
      margin-top: 40px;
    }
  }

  .head {
    max-width: 458px;
    margin-left: auto;
    margin-right: auto;

    .tabs-container {
      max-width: 326px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;

      @media screen and (max-width: 575px) {
        max-width: 270px;
      }
    }
  }

  .main {
    margin-top: 120px;

    @media screen and (max-width: 575px) {
      margin-top: 30px;
    }

    .product {
      margin-top: 60px;

      @media screen and (max-width: 575px) {
        margin-top: 30pxs;
      }

      .product-img {
        width: 100%;

        @media screen and (max-width: 767px) {
          width: 75%;
        }

        &.placeholder {
          max-width: 390px;

          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
      }

      .product-text {
        ul {
          margin: 30px 0 100px;

          @media screen and (max-width: 767px) {
            margin: 16px 0 24px;
          }

          li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;

            img {
              margin-right: 16px;
              transform: translateY(-2px);

              @media screen and (max-width: 575px) {
                width: 18px;
                height: 18px;
                transform: translateY(1px);
              }
            }
          }
        }

        .btn {
          margin-top: 30px;

          @media screen and (max-width: 575px) {
            width: 100%;
            justify-content: center;
          }
        }
      }

      &:nth-child(even) {
        .row {
          flex-direction: row-reverse;

          .col-lg-7 {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .row {
        .col-lg-7 {
          @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center !important;
          }
        }
      }
    }
  }

  .testimonials .testimonials-head .text,
  .news .news-head .text {
    @media screen and (min-width: 768px) {
      max-width: 458px;
    }
  }

  .testimonials {
    .testimonials-body {
      margin-top: 60px;

      .comment {
        border-radius: 8px;
        padding: 40px;
        background-color: $color8;

        @media screen and (max-width: 575px) {
          padding: 16px;
        }

        .comment-main {
          padding: 20px 0;
          border-bottom: 1px solid $color3;
        }

        .info {
          padding-top: 20px;

          .user {
            .name,
            .designation {
              @media screen and (max-width: 575px) {
                font-size: 14px;
              }
            }
          }

          .ratings {
            img {
              width: 16px;
              height: 16px;
              margin-left: 10px;

              @media screen and (max-width: 575px) {
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
  }

  .faq {
    .faq-head {
      max-width: 461px;
    }

    .faq-main {
      margin-top: 25px;

      .accordion-item {
        @media screen and (min-width: 576px) {
          margin: 15px 0;
        }
      }
    }
  }

  .news {
    .news-main {
      margin-top: 40px;

      .news-card {
        .news-img {
          width: 100%;
        }

        .news-title {
          margin: 20px 0 10px;
        }

        .news-body {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.growth {
  border-radius: 16px;
  padding: 60px 20px;
  background-color: $color8;

  @media screen and (max-width: 575px) {
    padding: 24px 16px;
  }

  @media screen and (max-width: 575px) {
    .download-btns {
      flex-direction: row;

      & > div {
        width: unset;
        &:first-child {
          margin-right: 8px;
        }

        &:last-child {
          margin-left: 8px;
        }
      }

      .btn {
        position: relative;
        width: unset;
        padding-left: 7px;
        padding-right: 7px;
        width: 130px;

        @media screen and (max-width: 350px) {
          width: 120px;
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0.65);
        }
      }
    }
  }
}
